.App {
  text-align: center;
}

.logo {
  margin-top: 20px;
  width: 350px;
}

.nav {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-top: 1px solid #D8D8D8;
  border-left: 0;
  border-right: 0;
  border-style: solid solid double solid;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.nav a {
  color: black;
  text-decoration: none;
  
}

.nav-title {
  border-right: 1px solid #D71E1F;
}

.date {
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

.temp-txt {
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}

.login {
  width: 118px;
}

.login-txt {
  padding: 5px 0;
  background-color: #D71E1F;
  border-radius: 5px;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.login-title{
  margin: 20px 0;
  font-family: 'Gloock', serif;
  font-size: 25px;
  font-weight: 700;
}

.labels {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

.btn {
  border: 1px solid #D71E1F;
  background-color: #D71E1F;
  font-family: 'Jost', sans-serif;
  color: white;
}

.btn:hover {
  border: 1px solid black;
  background-color: black;
}

.left-column {
  border-right: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  padding-right: 20px;
}

.link-article {
  text-decoration: none;
  color: black;
}

.link-article:hover {
  text-decoration: underline;
  color: #2C3333;
}

.link-article-light {
  text-decoration: none;
  color: white;
}

.link-article-light:hover {
  text-decoration: underline;
  color: #EEEEEE;
}

/* .left-column-top {
  border: 1px solid darkorange;
} */

/* .brk-news {
  border: 1px solid darkorange;
} */

.slider {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.slider-title {
  font-family: 'Gloock', serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1.5px;
  color: white;
}

.slider-paragh {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  font-weight: 200;
  text-align: left;
  color: white;
}

.main-title {
  font-family: 'Gloock', serif;
  font-size: 11px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1.5px;
  color: #D71E1F;
  margin-bottom: 10px;
}

.title {
  font-family: 'Gloock', serif;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1.5px;
}

.description {
  font-family: 'Merriweather', serif;
  font-size: 13px;
  font-weight: 200;
  text-align: left;
}

.author {
  font-family: 'Gloock', serif;
  font-size: 8px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1.5px;
}

.image {
  border: 1px solid forestgreen;
  /* width: 300px;
  height: 100px; */
  margin-bottom: 20px;
}

.news-list {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 20px;
}

.topmass-list {
  margin-top: 10px;
}

.right-column {
  border-top: 0;
  border-bottom: 0;
  padding-left: 20px;
}

.top-row {
  background-color: #EEEEEE;
  padding: 20px 0;
}

.top-col > h1 {
  font-family: 'Jost', sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  color: #D71E1F;
  margin-bottom: 10px;
}

.line {
  height: 4px;
  background-color: black;
}

.mostread-title {
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
  color: black;
  margin: 10px 10px;
}

.line-bottom {
  height: 1px;
  margin: 0 10px 0 10px;
  background-color: black;
}

.bottom-row {
  background-color: #F8F4EA;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-col {
  margin-top: 20px;
}

.opinion-line {
  height: 1px;
  margin: 0 10px 20px 10px;
  background-color: #D8D8D8;
}

.footer {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-top: 1px solid #D8D8D8;
  border-left: 0;
  border-right: 0;
  border-style: solid solid double solid;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  font-weight: 400;
}


